.appAlert {
  border-radius: 12px;
  font-family: inherit;
}

.appButtonDanger {
  background-color: #e53935;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  margin-right: 40px;
}

.appButtonSecondary {
  background-color: #e0e0e0;
  color: #333;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
}
